.scroll {
     /*Set a css background */
    background:url(http://www.ssd.noaa.gov/goes/comp/ceus/wv-animated.gif);
    
    /*Dont mind the rest*/
    position:relative;
    width:100%;
    height:60%;
    margin-top:-40%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-repeat: no-repeat;

    text-align:center;
    color:#fff;
    font-family:'Open Sans' sans-serif;
}



.scroll2 {
     /*Set a css background */
    background:url(http://rotater.s3-website-us-west-2.amazonaws.com/census.gif)fixed;
    
    /*Dont mind the rest*/
    width:100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-opacity: 0.6;

    text-align:center;
    color:#fff;
    font-family:'Open Sans' sans-serif;
}